<% @customer = Customer.find(params["id"]) %>
<% @bookings = @customer.bookings %>
<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>

  <% bookings.each do |booking| %>
  <div>
    <%= link_to booking.property.building_name, "/admin/business_booking/#{booking.id}" %>
    </div>
  <% end %>
<% end %>



