<%= @customer.display_name %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Helper</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <%- @customer.contracts.each_with_index do |contract, idx| %>
    <tr>
      <th scope="row"><%= idx + 1%></th>
      <td><%= contract.business_helper.login_id %></td>
      <td><%= contract.type.reject{|i| i.empty?}.join(",") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
