<%= @helper.login_id %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <%- @helper.contracts.each_with_index do |contract, idx| %>
    <tr>
      <th scope="row"><%= idx + 1%></th>
      <td><%= contract.customer.display_name %></td>
      <td><%= contract.type.reject{|i| i.empty?}.join(",") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
